<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="https://skay1899.github.io/Data-Science-Projects/cv/">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:soumya.skd@gmail.com">email</a></li>
   <li><a href="https://github.com/skay1899">github repository</a></li>
   <li><a href="https://linkedin.com/in/soumyaskd">linkedIn</a></li>
   <li><a href="https://hackerrank.com/soumya_skd1">hackerrank</a></li>
   </ul>
  </footer>
  </body>

</html>
